html, body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

.logo {
  background-image: url($logo-url);
  background-size: cover;
  width: $logo-width;
  height: $logo-height;
  display: block;
}
