.single .post-content-inner {
  font-size: .75em;
  color: #888888;
}

.single .post-content-inner img {
  margin: 0;
  width: 100%;
}

.single .post-content-inner .image-container {
  margin: 0 auto 20px;
  width: 40%;
}

.single .post-content-inner .inline-image-container {
  width: 40%;
  float: left;
  padding-right: 25px;
  padding-bottom: 25px;
  margin: 7px 0 0 0;
}

.quoted {
  margin-left: 100px;
  color: #555;
}
