.form {
  label {
    display: none;
  }

  .form-control {
    color: #FFFFFF;
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }
  }
}
