.navbar {
  max-width: $max-width;
  margin: 0 auto;

  @include media-breakpoint-down(xs) {
    padding-top: .5rem;
  }

  .nav-brand {
    @include media-breakpoint-up(sm) {
      margin-left: 40px;
    }
  }
}

.social {
  display: none;
  font-size: 15px;

  a {
    color: #222222;
    padding-left: 5px;
  }

  &--web {
    margin-right: -$navbar-padding-x;
    @include media-breakpoint-up(sm) {
      display: block;
      font-size: 20px;
      a {
        padding-left: 15px;
      }
    }
  }

  &--mobile {
    @include media-breakpoint-down(xs) {
      padding-top: 1rem;
      display: block;
    }
  }
}
